{% extends 'base.html'%}
{%block title%}Create Dress{%endblock%}

{% block ShopTogether %}
	<a href="#" onclick="TogetherJS(this); return false;" class="btn btn-default btn-lg" >Shop Together</a>
{% endblock %}

{%block body%}
<div class="col-sm-12 padding-right">
					
					<h2 class="title" align="center"> Select a Base Type</h2>
					<div class="features_items"><!--features_items-->
					
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									{% for b in bases %}
										<form action = "/user/customizedress/" method = "POST">
										{% csrf_token %}
										<img src="{{STATIC_URL}}{{ b.image.url }}" alt="" />	
										<input type ="hidden" name = "base" value = {{ b.image.url }} />					
										<button type = "submit" value = "submit" name = "select" class="btn btn-default">Select</button>
										</form>
									{% endfor %}
									</div>

								</div>
								
							</div>
						</div>
						
					</div><!--features_items-->
				</div>
{%endblock%}