{% extends 'base.html'%}
{%block title%}Create Dress{%endblock%}

{% block ShopTogether %}
	<a href="#" onclick="TogetherJS(this); return false;" class="btn btn-default btn-lg" >Shop Together</a>
{% endblock %}

{%block body%}
<section>
<div class="well row col-sm-12 padding-right">
					
					<h2 class="title" align="center"> Select a Base Type</h2>
					
					
						{% for b in bases %}
						<div class="col-sm-3">
						
								<div class="single-products">
									<div class="productinfo text-center">
								
										<form action = "/user/customizedress/" method = "POST">
										{% csrf_token %}
										<img src="{{STATIC_URL}}{{ b.image.url }}" alt="" style="height:100%; width:100%"/>	
										<input type ="hidden" name = "base" value = {{ b.image.url }} />
										<br>	
										<br>				
										<button type = "submit" value = "submit" name = "select" class="btn btn-default">Select</button>
										</form>
									
									</div>

								</div>
								
							
						</div>
						{% endfor %}
					
				</div>
</section>
{%endblock%}