<!DOCTYPE html>
{%extends 'base.html'%}

{% block title%}Shop{%endblock%}

{% block stylesheets%}
<link href = "{{STATIC_URL}}css/price-range.css" rel = "stylesheet">
<link href = "{{STATIC_URL}}css/jquery.simplecolorpicker.css" rel = "stylesheet">
<link href = "{{STATIC_URL}}css/jquery.simplecolorpicker-regularfont.css" rel = "stylesheet">
{%endblock%}

{% block ShopTogether %}
	<a href="#" onclick="TogetherJS(this); return false;" class="btn btn-default btn-lg" >Shop Together</a>
{% endblock %}

{% block body%}
	<section id="form"><!--form-->
		<div class="container">
			<div class="row" style="">
				<div class="col-sm-4 col-sm-offset-3">
					<div class="login-form" id = "wrapper"><!--login form-->
						<h2><b>Login to your account</b></h2>
						{{ state }}
						<form action="/user/login/" method = "POST">
						{% csrf_token %}
							{% if next %}
							<input type="hidden" name="next" value="{{ next }}" />
							{% endif %}
							<input type="text" name = "username" placeholder="username" required />
							<input type="password" name = "password" placeholder="Password" required/>
							<span>
								<input type="checkbox" class="checkbox"> 
								Keep me signed in
							</span>
							<button type="submit" class="btn btn-default">Login</button>
						</form>
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">OR</h2>
				</div>
				<div class="col-sm-4">
					<div class="signup-form" id = "wrapper"><!--sign up form-->
						<h2><b>New User Signup!</b></h2>
						<form action="/user/register/" method = "POST">
						{% csrf_token %}
							<input type="text" name = "username" placeholder="username" required/>
							<input type="email" name = "email" placeholder="Email Address" required/>
							<input type="password" name = "password" placeholder="Password" required/>
							<button type="submit" class="btn btn-default">Signup</button>
						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->
	
	{%endblock%}
