{% extends 'base.html'%}
{%block title%}Product-Details{%endblock%}

{%block stylesheets%}    <link href = "{{STATIC_URL}}css/price-range.css" rel = "stylesheet">{%endblock%}

{% block ShopTogether %}
<a href="#" onclick="TogetherJS(this); return false;" class="btn btn-default btn-lg" >Shop Together</a>
{% endblock %}

{% block body%}
<section>
	<div class="container">
		<div class="row">


			<div id="myModal" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" id="modalClose" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">Size Chart in inches</h4>
						</div>
						<div class="modal-body">
							<textarea style="background-color:#ffffff"> NOTE: Measurement has to be taken over the body and not previously made garments				</textarea>
							<textarea style="background-color:#ffffff; color:red;" id="warningModal" > Please fill in proper details				</textarea>
							<form class="form-horizontal" action = "/user/sizechart_update/" method = "POST" 	style="margin-top:10px">
								<fieldset>

									<div class="form-group" style="margin-top:2px">
										<div class="col-md-4" >
											<label class="pull-right control-label" for="textinput">Length(Blouse)</label>  </div>
											<div class="col-md-2">
												<input id="textinput1" name="length_blouse" type="text" value={{ userprofile.length_blouse }} class="form-control input-md" required>

											</div>

											<div class="col-md-4" >
												<label class="pull-right control-label" for="textinput">Bust/Chest</label>  </div>
												<div class="col-md-2">
													<input  id="textinput2" name="bust" type="text" value={{ userprofile.bust}} class="form-control input-md" required>

												</div>


											</div>


											<div class="form-group">
												<div class="col-md-4" >
													<label class="pull-right control-label" for="textinput">Waist(Blouse)</label>  </div>
													<div class="col-md-2">
														<input id="textinput3" name="waist_blouse" type="text" value={{ userprofile.waist_blouse }} class="form-control input-md" required >

													</div>

													<div class="col-md-4" >
														<label class="pull-right control-label" for="textinput">Shoulder</label>  </div>
														<div class="col-md-2">
															<input id="textinput4" name="shoulder" type="text" value={{ userprofile.shoulder }} class="form-control input-md" required>

														</div>


													</div>

													<div class="form-group">
														<div class="col-md-4" >
															<label class="pull-right control-label" for="textinput">Sleeve(Length)</label>  </div>
															<div class="col-md-2">
																<input id="textinput5" name="sleeve_length" type="text" value={{ userprofile.sleeve_length}} class="form-control input-md" required>

															</div>

															<div class="col-md-4" >
																<label class="pull-right control-label" for="textinput">Sleeve(Width)</label>  </div>
																<div class="col-md-2">
																	<input id="textinput6" name="sleeve_width" type="text" value={{ userprofile.sleeve_width }} class="form-control input-md" required>

																</div>


															</div>

															<div class="form-group">
																<div class="col-md-4" >
																	<label class="pull-right control-label" for="textinput">Neck(Front)</label>  </div>
																	<div class="col-md-2">
																		<input id="textinput7" name="neck_front" type="text" value={{ userprofile.neck_front }} class="form-control input-md" required>

																	</div>

																	<div class="col-md-4" >
																		<label class="pull-right control-label" for="textinput">Neck(Back)</label>  </div>
																		<div class="col-md-2">
																			<input type="text"id="textinput8" name="neck_back" type="text" value={{ userprofile.neck_back }} class="form-control input-md" required>
																		</div>
																	</div>
																</fieldset>



																<div class="modal-footer">
																	<button type="button" class="btn btn-primary" value = "submit" style="margin:5px" id="modalOk">     Ok    </button>
																</div>
															</form>
														</div>
													</div>
												</div>
											</div>
											<div class="row padding-right">
												<div class="product-details"><!--product-details-->
													<div class="col-sm-4">
														<div class="view-product">
															<img src="{{ STATIC_URL }}{{ product.image.url }}"  class="img-responsive" data-imagezoom="true" style="margin-top:30px;height:100%"/>
														</div>
														<!-- <div id="similar-product" class="carousel slide" data-ride="carousel">

															<div class="carousel-inner">
																{% for i in product.images_set.all %}


																{% if forloop.first%}
																<div class="item active">
																	{% elif forloop.counter|divisibleby:4%}
																	<div class="item">
																		{%endif %}


																		<div class="col-sm-6">
																			<a href=""><img src ="{{STATIC_URL}}{{ i.image.url }}" alt="" style="width:100%;height:100%"></a>

																		</div>
																		{% if forloop.counter|divisibleby:3 or forloop.last %}
																	</div>
																	{%endif%}


																	{% endfor %}

																</div>


																<a class="left item-control" href="#similar-product" data-slide="prev">
																	<i class="fa fa-angle-left"></i>
																</a>
																<a class="right item-control" href="#similar-product" data-slide="next">
																	<i class="fa fa-angle-right"></i>
																</a>
															</div> 
 -->
														</div>
														<div class="col-sm-8">
															<div class="product-information">
																<!-- <img src="images/product-details/new.jpg" class="newarrival" alt="" /> -->
																<h2>{{ product.name }}</h2>
																<p>{{ product.description }} (Slight variation in color is possible.)</p>
																<span>

																	<div class="row">
																		<div class="col-sm-12">
																			<div  >
																				<label >
																					<input type="radio" style="width:15px;height:15px;margin:15px;padding-left:10px"id="q128" name="q" value="1" /> Stiched
																				</label> 
																				<label >
																					<input type="radio" style="width:15px;height:15px;margin:15px" id="q129" name="q" checked="checked" value="2"/> Unstiched
																				</label>

																			</div>
																		</div>
																	</div>

																	<span>₹{{ product.price }}</span>

																	<form method = "POST" action = "/user/item_cart/">
																		{% csrf_token %}
																		<input type = "hidden" name = "addcart" value = {{ product.productID }}>
																		<button type = "submit" value="submit" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
																	</form>
																</span>
														<!-- <p><b>Availability:</b> In Stock</p>
														<p><b>Condition:</b> New</p> -->
														<div class="choose">
															<ul class="nav nav-pills nav-justified">
																<li><a href="/user/add_wish?product={{ product.productID }}"><i class="fa fa-plus-square"></i>Add to Wishlist</a></li>
															</ul>
														</div>
													</div>

													<table width="100%">
														<tr>
															<td width="15%">Style</td>
															<td width="1%">:</td>
															<td width="38%">
																<span><a href="">{{ product.subcategory.name }}</a></span>

															</td>
															<td width="25%">Shipping Time</td>
															<td width="1%">:</td>
															<td width="38%">
																<span>7 to 9 Days</span>
															</td>
														</tr>
														<tr>
															<td width="15%">Occasion</td>
															<td width="1%">:</td>
															<td width="45%">
																{% for i in product.occasion_set.all %}
																<span><a href="">{{ i.occasions }}</a></span>
																{% endfor %}
															</td>
															<td width="15%">Fabric</td>
															<td width="1%">:</td>
															<td width="45%">
																{% for i in product.fabric_set.all %}
																<span><a href="">{{ i.fabrics }}</a></span>
																{% endfor %}
															</td>
														</tr>
														<tr>
															<td width="15%">Colour</td>
															<td width="1%">:</td>
															<td width="45%">
																{% for i in clist %}
																<span><a href="">{{ i }}</a></span>
																{% endfor %}
															</td>
															<td width="15%">Catalog No.</td>
															<td width="1%">:</td>
															<td width="45%"><span><a href="">{{ product.productID }}</a></span></td>
														</tr>
														<tr>
															<td width="15%">Work</td>
															<td width="1%">:</td>
															<td width="45%">
																{% for i in product.work_set.all %}
																<span><a href="">{{ i.works }}</a></span>
																{% endfor %}
															</td>
														</tr>
													</table> 
												</div>
											</div>
										</div><!--/product-details-->


										<div class="shop-details-tab">
											<div class="col-sm-12">
												<ul class="nav nav-tabs">
													<li><a href="#details" data-toggle="tab">More Details</a></li>
													<!-- 	<li><a href="#faqs" data-toggle="tab">product FAQ</a></li> -->
													<!-- <li><a href="#tag" data-toggle="tab">Tag</a></li> -->
													<li class="active"><a href="#reviews" data-toggle="tab">Reviews</a></li>
												</ul>
											</div>
											<div class="tab-content" style="margin-bottom:0px">
												<div class="additional-details tab-pane fade"  id="details" >
													<p style="margin-top:30px">Wash Care: Dry Wash Only</p>
													<p>Length: 6.3 meters  (including 85 cms blouse fabric) Blouse Fabric attached with saree</p>
													<ul>
														<li type="square">The shades may vary slightly from the colors displayed on your screen.</li>
														<li>
															The first wash of the garment should always be Dry-Cleaned.</li>
															<li>
																The bright shade seen is the best closer view of fabric's color.</li>
															</ul>

														</div>





														<div class="col-sm-12 additional-details tab-pane fade active in" style="max-height:25em;overflow-y:scroll;" id="reviews" >

															{% for r in product.review_set.all %}
															<div style="margin-bottom:50px" >


																<ul >
																	<li><a href=""><i class="fa fa-user"></i><b>{{ r.user }}</b></a></li>
																	<li><a href=""><i class="fa fa-clock-o"></i><b>{{ r.time }}</b></a></li>
																</ul>

																<div class="rating3"></div>

																<p>{{ r.description }}</p>
															</div>
															{% endfor %}



														</div>
													</div>
												</div>



												<div class="col-sm-12" id="reviews1">
													<p><b>Write Your Review</b></p>

													<form style="margin-top:20px"action = "/user/review/" method = "POST">
														{% csrf_token %}
														<div id="ratings"></div>
														<span>
															<input type="text" name = "user" placeholder="Your Name"/>
														</span>
														<textarea name="description" ></textarea>
														<input type = "hidden" name = "productID" value = {{ product.productID }}>

														<button type="submit" class="btn btn-default pull-right">
															Submit
														</button>
													</form>
												</div>

											</div>
										</div>
									</section>

									{%endblock%}	
									{%block scripts%}

									<script type="text/javascript" src="{{ STATIC_URL }}js/price-range.js"></script>

									<script type="text/javascript" src="{{ STATIC_URL }}js/imagezoom.js"></script>
									<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.raty.js"></script>
									<script src="https://togetherjs.com/togetherjs-min.js"></script>

									<script>
									$(document).ready(function(){
										// $("#q128").change(function(){
										// 	$("#myModal").modal('show');
										// });

										$("#q128").change(function(){
												document.getElementById("warningModal").style.display="none";
												$("#myModal").modal('show');
											});
											$('#myModal').modal({
  												keyboard: false,
  												show:false,
  												backdrop:'static'
  											})
  											$("#modalClose").on('click', function() {
									document.getElementById("q128").checked =false;
										});
  											$("#modalOk").on('click',function(){
  													if(document.getElementById("textinput1").value<=100){
  														$("#myModal").modal('hide');
  													}else{
  														document.getElementById("warningModal").style.display="table";
  													}

  											});
										$('#functions').raty({
										
											click: function(score, evt) {
												console.log(score);
											},

										});

$("#ratings").raty({
	starHalf    : '{{ STATIC_URL }}images/product-details/star-half.png',
	starOn      : '{{ STATIC_URL }}images/product-details/star-on.png',
	starOff     : '{{ STATIC_URL }}images/product-details/star-off.png', 
											//console.log(score);   
										});


					// var elements3 = document.getElementsByName( 'rating3');
					// var id = elements3[0].getAttribute( 'id' );



					$('.rating3').raty({
						starHalf    : '{{ STATIC_URL }}images/product-details/star-half.png',
						starOn      : '{{ STATIC_URL }}images/product-details/star-on.png',
						starOff     : '{{ STATIC_URL }}images/product-details/star-off.png',
						readOnly: true, 
						score: 3    
					});


					// $('#ratings').on('click', function() {
					// 	// var options = $('#' + this.id.replace('-run', '').val()),
					// 	// command = "$('#functions').raty('set', " + options + ");";
					// 	//eval(command);
					// 	//var r=this.raty('score');
					// 	//console.log(r);
					// });
					$("#modalClose").on('click', function() {
						document.getElementById("q128").checked =false;
					});

				});
</script>
{%endblock%}

