<!DOCTYPE html>
{%extends 'base.html'%}

{% block title%}Shop{%endblock%}


{% block stylesheets%}
<link href = "{{STATIC_URL}}css/price-range.css" rel = "stylesheet">
<link href = "{{STATIC_URL}}css/jquery.simplecolorpicker.css" rel = "stylesheet">
<link href = "{{STATIC_URL}}css/jquery.simplecolorpicker-regularfont.css" rel = "stylesheet">
{%endblock%}

{% block ShopTogether %}
	<a href="#" onclick="TogetherJS(this); return false;" class="btn btn-default btn-lg" >Shop Together</a>
{% endblock %}

{% block body%}
<section>
	<div class="row">
		<div class="col-sm-3">
			<div class="left-sidebar">
				<div class="price-range"><!--price-range-->
					<h2>FILTER BY PRICE</h2>
					<div class="well">
						<form action = "/user/price/" method = "POST">
							{% csrf_token %}
							<div style="text-align:center">

														<input style="width:100%" name = "price" type="text" class="span2" value="" data-slider-min="0" data-slider-max="10000" data-slider-step="50" data-slider-value="[0,10000]" id="sl2" ><br />
							<!-- <b>0</b> <b class="pull-right">10000</b><br> -->
							<br>
							
							<input style="margin-left:10px;"class="btn btn-default"type="submit" value="Submit">
							</div>													
							</form>
					</div>
				</div><!--/price-range-->
				<h2>FILTER BY COLOR</h2>
				<div class="well"style="margin:30px auto 50px;text-align:center">
					<form name = "colorpicker" action = "/user/filter_color/" method = "POST">
						{% csrf_token %}
						<select name="colorpicker-shortlist" onchange="this.form.submit()">
							<option name="Green" value="#7bd148">Green</option>
							<option value="#5484ed">Bold blue</option>
							<option name = "Blue" value="#a4bdfc">Blue</option>
							<option value="#46d6db">Turquoise</option>
							<option value="#7ae7bf">Light green</option>
							<option value="#51b749">Bold green</option>
							<option value="#fbd75b">Yellow</option>
							<option value="#ffb878">Orange</option>
							<option value="#ff887c">Red</option>
							<option value="#dc2127">Bold red</option>
							<option value="#dbadff">Purple</option>
							<!-- <option value="#e1e1e1">Gray</option> -->
						</select>
					</form> </div>
					<h2>FILTER BY OCASSIONS</h2>
					<form role = "form" name = "occasions" action = "/user/filter_occasion/" method = "POST">
					<div class="well">
						
							{% csrf_token %}
							<div class="checkbox checkboxes">
								<label></label><input type="checkbox" name = "Bridal" value="True">Bridal</label>
							</div>
							<div class="checkbox checkboxes">
								<label><input type="checkbox" name = "Casual" value="True">Casual</label>
							</div>
							<div class="checkbox checkboxes">
								<label><input type="checkbox" name = "Festive" value="True">Festive</label>
							</div>
							<div class="checkbox checkboxes">
								<label><input type="checkbox" name = "Party" value="True">Party</label>
							</div>
							<div class="checkbox checkboxes">
								<label><input type="checkbox" name = "Reception" value="True">Reception</label>
							</div>
							<div class="checkbox checkboxes">
								<label><input type="checkbox" name = "Wedding" value="True">Wedding</label>
							</div>
							
						
					</div>

							<div style="text-align:center">
							<input style="margin-left:10px;"class="btn btn-default"type="submit" value="Submit">
							</div>
					</form>
							<br>
							<br>
					<h2>FILTER BY FABRIC</h2>
					<div class="well style-2" style="max-height:20em;overflow-y: scroll;">
						<div class="checkbox checkboxes">
							<label><input type="checkbox" value="">Bridal</label>
						</div>
						<div class="checkbox checkboxes">
							<label><input type="checkbox" value="">Casual</label>
						</div>
						<div class="checkbox checkboxes">
							<label><input type="checkbox" value="">Festive</label>
						</div>
						<div class="checkbox checkboxes">
							<label><input type="checkbox" value="">Party</label>
						</div>
						<div class="checkbox checkboxes">
							<label><input type="checkbox" value="">Reception</label>
						</div>
						<div class="checkbox checkboxes">
							<label><input type="checkbox" value="">Wedding</label>
						</div>
						<div class="checkbox checkboxes">
							<label><input type="checkbox" value="">Wedding</label>
						</div>
						<div class="checkbox checkboxes">
							<label><input type="checkbox" value="">Wedding</label>
						</div>
						<div class="checkbox checkboxes">
							<label><input type="checkbox" value="">Wedding</label>
						</div>
						<div class="checkbox checkboxes">
							<label><input type="checkbox" value="">Wedding</label>
						</div>
						<div class="checkbox checkboxes">
							<label><input type="checkbox" value="">Wedding</label>
						</div>
						<div class="checkbox checkboxes">
							<label><input type="checkbox" value="">Wedding</label>
						</div>
						<div class="checkbox checkboxes">
							<label><input type="checkbox" value="">Wedding</label>
						</div>
						<div class="checkbox checkboxes">
							<label><input type="checkbox" value="">Wedding</label>
						</div>
							
					</div>

							<div style="text-align:center">
							<input style="margin-left:10px;"class="btn btn-default"type="submit" value="Submit">
							</div>
							<br>
							<br>
					<h2>FILTER BY WORK</h2>
					<div class="well" style="max-height:20em;overflow-y: scroll;">
						<div class="checkbox checkboxes">
							<label><input type="checkbox" value="">Bridal</label>
						</div>
						<div class="checkbox checkboxes">
							<label><input type="checkbox" value="">Casual</label>
						</div>
						<div class="checkbox checkboxes">
							<label><input type="checkbox" value="">Festive</label>
						</div>
						<div class="checkbox checkboxes">
							<label><input type="checkbox" value="">Party</label>
						</div>
						<div class="checkbox checkboxes">
							<label><input type="checkbox" value="">Reception</label>
						</div>
						<div class="checkbox checkboxes">
							<label><input type="checkbox" value="">Wedding</label>
						</div>
					
					</div>

							<div style="text-align:center">
							<input style="margin-left:10px;"class="btn btn-default"type="submit" value="Submit">
							</div>
							<br>
							<br>
				</div>
			</div>


			<div class="col-sm-9 padding-right">
				<div class="features_items"><!--features_items-->
					<h2 class="title">{{ sub }}</h2>
					
					
					{% for p in products.object_list %}
					<div class="col-sm-4">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<a href = "/user/item/?item={{ p.productID }}"><img src="{{ STATIC_URL }}{{ p.image.url }}" alt="" width = "207" height = "250"/></a>
									<h2>{{ p.price }} rs.</h2>
									<p>{{ p.name }}</p>
									<form method = "POST" action = "/user/item_cart/">
										{% csrf_token %}
										<input type = "hidden" name = "addcart" value = {{ p.productID }}>
										<button type = "submit" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
										</form>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="/user/add_wish?product={{ p.productID }}"><i class="fa fa-plus-square"></i>Add to Wishlist</a></li>
									</ul>
								</div>
							</div>
						</div>
						{% endfor %}
						{% if products.object_list and products.paginator.num_pages > 1 %}
						<div class="pagination">
							<span class="step-links">
								{% if products.has_previous %}
								<body onload = "myFunction()">
									<a href= "/user/filter_occasion/?page={{ products.previous_page_number }}">previous &lt;&lt; </a>
									{% endif %}
									<span class="current">
										&nbsp;Page {{ products.number }} of {{ products.paginator.num_pages }}
									</span>
									{% if products.has_next %}
									<a href="/user/filter_occasion/?page={{ products.next_page_number }}"> &gt;&gt; next</a>
									{% endif %}
								</span>
							</div>
							{% endif %}
						</div>
					</div>
					</div>
				</section>
				{%endblock%}


				{% block scripts %}
				<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.simplecolorpicker.js"></script>
				<script type="text/javascript" src="{{ STATIC_URL }}js/price-range.js"></script>
				<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
				<script src="https://togetherjs.com/togetherjs-min.js"></script>

				<script>

					function myFunction() {
						var x = document.URL;
						document.getElementById("demo").innerHTML = x;
					}

					$('#sl2').slider();
					var RGBChange = function() {
	  					$('#RGB').css('background', 'rgb('+r.getValue()+','+g.getValue()+','+b.getValue()+')')
					};


					$(document).ready(function() {

        // JQuery code to be added in here.

        (function($) {
        	'use strict';

  /**
   * Constructor.
   */
   var SimpleColorPicker = function(select, options) {
   	this.init('simplecolorpicker', select, options);
   };

  /**
   * SimpleColorPicker class.
   */
   SimpleColorPicker.prototype = {
   	constructor: SimpleColorPicker,

   	init: function(type, select, options) {
   		var self = this;

   		self.type = type;

   		self.$select = $(select);
   		self.$select.hide();

   		self.options = $.extend({}, $.fn.simplecolorpicker.defaults, options);

   		self.$colorList = null;

   		if (self.options.picker === true) {
   			var selectText = self.$select.find('> option:selected').text();
   			self.$icon = $('<span class="simplecolorpicker icon"'
   				+ ' title="' + selectText + '"'
   				+ ' style="background-color: ' + self.$select.val() + ';"'
   				+ ' role="button" tabindex="0">'
   				+ '</span>').insertAfter(self.$select);
   			self.$icon.on('click.' + self.type, $.proxy(self.showPicker, self));

   			self.$picker = $('<span class="simplecolorpicker picker ' + self.options.theme + '"></span>').appendTo(document.body);
   			self.$colorList = self.$picker;

        // Hide picker when clicking outside
        $(document).on('mousedown.' + self.type, $.proxy(self.hidePicker, self));
        self.$picker.on('mousedown.' + self.type, $.proxy(self.mousedown, self));
    } else {
    	self.$inline = $('<span class="simplecolorpicker inline ' + self.options.theme + '"></span>').insertAfter(self.$select);
    	self.$colorList = self.$inline;
    }

      // Build the list of colors
      // <span class="color selected" title="Green" style="background-color: #7bd148;" role="button"></span>
      self.$select.find('> option').each(function() {
      	var $option = $(this);
      	var color = $option.val();

      	var isSelected = $option.is(':selected');
      	var isDisabled = $option.is(':disabled');

      	var selected = '';
      	if (isSelected === true) {
      		selected = ' data-selected';
      	}

      	var disabled = '';
      	if (isDisabled === true) {
      		disabled = ' data-disabled';
      	}

      	var title = '';
      	if (isDisabled === false) {
      		title = ' title="' + $option.text() + '"';
      	}

      	var role = '';
      	if (isDisabled === false) {
      		role = ' role="button" tabindex="0"';
      	}

      	var $colorSpan = $('<span class="color"'
      		+ title
      		+ ' style="background-color: ' + color + ';"'
      		+ ' data-color="' + color + '"'
      		+ selected
      		+ disabled
      		+ role + '>'
      		+ '</span>');

      	self.$colorList.append($colorSpan);
      	$colorSpan.on('click.' + self.type, $.proxy(self.colorSpanClicked, self));

      	var $next = $option.next();
      	if ($next.is('optgroup') === true) {
          // Vertical break, like hr
          self.$colorList.append('<span class="vr"></span>');
      }
  });
},

    /**
     * Changes the selected color.
     *
     * @param color the hexadecimal color to select, ex: '#fbd75b'
     */
     selectColor: function(color) {
     	var self = this;

     	var $colorSpan = self.$colorList.find('> span.color').filter(function() {
     		return $(this).data('color').toLowerCase() === color.toLowerCase();
     	});

     	if ($colorSpan.length > 0) {
     		self.selectColorSpan($colorSpan);
     	} else {
     		console.error("The given color '" + color + "' could not be found");
     	}
     },

     showPicker: function() {
     	var pos = this.$icon.offset();
     	this.$picker.css({
        // Remove some pixels to align the picker icon with the icons inside the dropdown
        left: pos.left - 6,
        top: pos.top + this.$icon.outerHeight()
    });

     	this.$picker.show(this.options.pickerDelay);
     },

     hidePicker: function() {
     	this.$picker.hide(this.options.pickerDelay);
     },

    /**
     * Selects the given span inside $colorList.
     *
     * The given span becomes the selected one.
     * It also changes the HTML select value, this will emit the 'change' event.
     */
     selectColorSpan: function($colorSpan) {
     	var color = $colorSpan.data('color');
     	var title = $colorSpan.prop('title');

      // Mark this span as the selected one
      $colorSpan.siblings().removeAttr('data-selected');
      $colorSpan.attr('data-selected', '');

      if (this.options.picker === true) {
      	this.$icon.css('background-color', color);
      	this.$icon.prop('title', title);
      	this.hidePicker();
      }

      // Change HTML select value
      this.$select.val(color);
  },

    /**
     * The user clicked on a color inside $colorList.
     */
     colorSpanClicked: function(e) {
      // When a color is clicked, make it the new selected one (unless disabled)
      if ($(e.target).is('[data-disabled]') === false) {
      	this.selectColorSpan($(e.target));
      	this.$select.trigger('change');
      }
  },

    /**
     * Prevents the mousedown event from "eating" the click event.
     */
     mousedown: function(e) {
     	e.stopPropagation();
     	e.preventDefault();
     },

     destroy: function() {
     	if (this.options.picker === true) {
     		this.$icon.off('.' + this.type);
     		this.$icon.remove();
     		$(document).off('.' + this.type);
     	}

     	this.$colorList.off('.' + this.type);
     	this.$colorList.remove();

     	this.$select.removeData(this.type);
     	this.$select.show();
     }
 };

  /**
   * Plugin definition.
   * How to use: $('#id').simplecolorpicker()
   */
   $.fn.simplecolorpicker = function(option) {
   	var args = $.makeArray(arguments);
   	args.shift();

    // For HTML element passed to the plugin
    return this.each(function() {
    	var $this = $(this),
    	data = $this.data('simplecolorpicker'),
    	options = typeof option === 'object' && option;
    	if (data === undefined) {
    		$this.data('simplecolorpicker', (data = new SimpleColorPicker(this, options)));
    	}
    	if (typeof option === 'string') {
    		data[option].apply(data, args);
    	}
    });
};

  /**
   * Default options.
   */
   $.fn.simplecolorpicker.defaults = {
    // No theme by default
    theme: '',

    // Show the picker or make it inline
    picker: false,

    // Animation delay in milliseconds
    pickerDelay: 0
};

})(jQuery);

$('select[name="colorpicker-longlist"]').simplecolorpicker();
$('select[name="colorpicker-shortlist"]').simplecolorpicker();

$('#init').on('click', function() {
	$('select[name="colorpicker-shortlist"]').simplecolorpicker();
	$('select[name="colorpicker-longlist"]').simplecolorpicker();
});

$('#destroy').on('click', function() {
	$('select').simplecolorpicker('destroy');
});

$('#init').trigger('click');
});
</script>
{%endblock%}

