<!DOCTYPE html>
{% extends 'base.html'%}


{%block title%}Location{%endblock%}
{% block ShopTogether %}
  <a href="#" onclick="TogetherJS(this); return false;" class="btn btn-default btn-lg" >Shop Together</a>
{% endblock %}

{%block stylesheets%}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/gmaps.css" />
{%endblock%}

{%block body%}
  
  <div class="well col-sm-12">
  <div class="col-sm-3 col-sm-offset-1"style="margin-top:20px" >
   
    <div style="margin:20px">
    <h2 class="title" style="text-align:left;margin-left:0px">Nicks Creations</h2>
    
    <p>D-43 Sun divine Towers,Ghatodla</p>
    <p>Near Prasang Party Plot, Opp. Sola Bhagwat Vidyapeeth.</p>
    <p>Ahmedabad, Gujrat.</p>
    <p>Phone: +91123456789</p>
    <p>Email: nikscreation@gmail.com</p>

   </div >

  </div> 

  <div class="col-sm-7">
      <div id="map"></div>
    </div>
    </div>
{%endblock%}
  
{%block scripts%}
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/gmaps.js"></script>
  <script type="text/javascript">
    var map;
    $(document).ready(function(){
      map = new GMaps({
        el: '#map',
        lat: 23.087332,
        lng: 72.534070
      });
      map.addMarker({
        lat: 23.087332,
        lng:  72.534070,
        title: 'Niks Creations',
        details: {
          database_id: 42,
          author: 'HPNeo'
        },
        click: function(e){
          if(console.log)
            console.log(e);
          alert('You clicked in this marker');
        },
        mouseover: function(e){
          if(console.log)
            console.log(e);
        }
      });
    
    });
  </script> 
{%endblock%}
