{%extends 'base.html'%}
{%block title%}Profile{%endblock%}

{% block ShopTogether %}
	<a href="#" onclick="TogetherJS(this); return false;" class="btn btn-default btn-lg" >Shop Together</a>
{% endblock %}

{%block body%}
<div class="row">
	<div class="col-md-2 container-fluid main-container">
		<div class="sidebar">
			<div class="row">
				<!-- uncomment code for absolute positioning tweek see top comment in css -->
				<div class="absolute-wrapper"> </div>
				<!-- Menu -->
				<div class="side-menu">
					<nav class="navbar navbar-default" role="navigation">
						<!-- Main Menu -->
						<div class="side-menu-container">
							<ul class="nav navbar-nav">	
								<li class="active"><a href="/user/profile/"><span class="glyphicon glyphicon-user"></span>Profile </a></li>
								<li><a href="/user/sizechart/"><span class="glyphicon glyphicon-stats"></span> Size Chart</a></li>
								<li><a href="/user/address/"><span class="glyphicon glyphicon-plane"></span> Shipping Address</a></li>
								<li ><a href="/user/creditcard/"><span class="glyphicon glyphicon-credit-card"></span> Cards</a></li>
								<li ><a href="/user/wishlist/"><span class="glyphicon glyphicon-heart"></span> WishList</a></li>
								<li ><a href="/user/pastorders/"><span class="glyphicon glyphicon-briefcase"></span>Past Orders</a></li>	
							</ul>
						</div><!-- /.navbar-collapse -->
					</nav>

				</div>
			</div>  		</div>
		</div>



 <form class="form-horizontal" name = "profile" method= "POST">
 {% csrf_token %}
<fieldset>


<div class="well col-md-10">
		<div align ="center" >
			<h4 class="title"><b>{{ state_ }}</b></h4>
		</div>
<!-- Form Name -->

<!-- Text input-->
<div class="form-group" style="margin-top:20px">
  <label class="col-md-4 control-label" for="username">User Name</label>  
  <div class="col-md-4">
  <input id="username" name="username" type="text" placeholder={{ user.username }} class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Full Name">Full Name</label>  
  <div class="col-md-4">
  <input id="Full Name" name="Full Name" type="text" placeholder="eg. John Lennon" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->





<div class="form-group">

  <label class="col-md-4 control-label" for="email">Email</label>  
  <div class="col-md-4">
  <input id="email" name="email" type="text" placeholder={{ user.email }} class="form-control input-md">
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="oldpassword">Old Password </label>
  <div class="col-md-4">
    <input id="oldpassword" name="oldpassword" type="password" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="newpassword">New Password </label>
  <div class="col-md-4">
    <input id="newpassword" name="newpassword" type="password" placeholder="" class="form-control input-md">
    
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="renewpassword">Re-enter New Password </label>
  <div class="col-md-4">
    <input id="newpassword" name="newpassword" type="password" placeholder="" class="form-control input-md">
    
  </div>
</div>
<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="updatebutton"></label>
  <div class="col-md-4">
    <button id="updatebutton" name="updatebutton" class="btn btn-primary">Update</button>
  </div>
</div>

</fieldset>
</form>
</div>


{%endblock%}
    {%block scripts%}

    			<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
    		

  

     <script>
  	 $(document).ready(function(){
  	 		$('.navbar-toggle-sidebar').click(function () {
  		$('.navbar-nav').toggleClass('slide-in');
  		$('.side-body').toggleClass('body-slide-in');
  		$('#search').removeClass('in').addClass('collapse').slideUp(200);
  	});

  	// $('#search-trigger').click(function () {
  	// 	$('.navbar-nav').removeClass('slide-in');
  	// 	$('.side-body').removeClass('body-slide-in');
  	// 	$('.search-input').focus();
  	// });
  	 });
  	 </script>
  	 {%endblock%}
