{%extends 'base.html'%}
{%block title%}Size Chart{%endblock%}

{% block ShopTogether %}
	<a href="#" onclick="TogetherJS(this); return false;" class="btn btn-default btn-lg" >Shop Together</a>
{% endblock %}

{%block body%}
		
<div class="row">
	<div class="col-md-2 container-fluid main-container">
		<div class="sidebar">
			<div class="row">
				<!-- uncomment code for absolute positioning tweek see top comment in css -->
				<div class="absolute-wrapper"> </div>
				<!-- Menu -->
				<div class="side-menu">
					<nav class="navbar navbar-default" role="navigation">
						<!-- Main Menu -->
						<div class="side-menu-container">
							<ul class="nav navbar-nav">	
								<li><a href="/user/profile/"><span class="glyphicon glyphicon-user"></span>Profile </a></li>
								<li class = "active"><a href="/user/sizechart/"><span class="glyphicon glyphicon-stats"></span> Size Chart</a></li>
								<li><a href="/user/address/"><span class="glyphicon glyphicon-plane"></span> Shipping Address</a></li>
								<li ><a href="/user/creditcard/"><span class="glyphicon glyphicon-credit-card"></span> Cards</a></li>
								<li ><a href="/user/wishlist/"><span class="glyphicon glyphicon-heart"></span> WishList</a></li>
								<li ><a href="/user/item_cart/"><span class="glyphicon glyphicon-briefcase"></span>My Cart</a></li>	
							</ul>
						</div><!-- /.navbar-collapse -->
					</nav>

				</div>
			</div>  		</div>
		</div>

<div class="col-md-10" >
	<div class="row">
    <div class="col-md-6 col-md-offset-2">

   <form class="form-horizontal" method = "POST">
   {% csrf_token %}
   	<fieldset>

<legend >Size Chart in inches</legend>

																<textarea style="background-color:#ffffff">Measurement has to be taken over the body and not previously made garments				</textarea>

																<div align ="center" style = "color:gray">
																	<h5>{{ state_ }}</h5>
																</div><br>
																	

																		<div class="form-group" style="margin-top:2px">
																			<div class="col-md-4" >
																			<label class="pull-right control-label" for="textinput">Length(Blouse)</label>  </div>
																			<div class="col-md-2">
																				<input  name="length_blouse" type="text" placeholder={{ userprofile.length_blouse }} class="form-control input-md">

																			</div>

																			<div class="col-md-4" >
																			<label class="pull-right control-label" for="textinput">Bust/Chest</label>  </div>
																			<div class="col-md-2">
																				<input  name="bust" type="text" placeholder={{ userprofile.bust}} class="form-control input-md">

																			</div>


																		</div>


																		<div class="form-group">
																			<div class="col-md-4" >
																			<label class="pull-right control-label" for="textinput">Waist(Blouse)</label>  </div>
																			<div class="col-md-2">
																				<input id="textinput" name="waist_blouse" type="text" placeholder={{ userprofile.waist_blouse }} class="form-control input-md" >

																			</div>

																			<div class="col-md-4" >
																			<label class="pull-right control-label" for="textinput">Shoulder</label>  </div>
																			<div class="col-md-2">
																				<input id="textinput" name="shoulder" type="text" placeholder={{ userprofile.shoulder }} class="form-control input-md">

																			</div>


																		</div>

																		<div class="form-group">
																			<div class="col-md-4" >
																			<label class="pull-right control-label" for="textinput">Sleeve(Length)</label>  </div>
																			<div class="col-md-2">
																				<input id="textinput" name="sleeve_length" type="text" placeholder={{ userprofile.sleeve_length}} class="form-control input-md">

																			</div>

																			<div class="col-md-4" >
																			<label class="pull-right control-label" for="textinput">Sleeve(Width)</label>  </div>
																			<div class="col-md-2">
																				<input id="textinput" name="sleeve_width" type="text" placeholder={{ userprofile.sleeve_width }} class="form-control input-md">

																			</div>


																		</div>

																		<div class="form-group">
																			<div class="col-md-4" >
																			<label class="pull-right control-label" for="textinput">Neck(Front)</label>  </div>
																			<div class="col-md-2">
																				<input id="textinput" name="neck_front" type="text" placeholder={{ userprofile.neck_front }} class="form-control input-md">

																			</div>

																			<div class="col-md-4" >
																			<label class="pull-right control-label" for="textinput">Neck(Back)</label>  </div>
																			<div class="col-md-2">
																				<input id="textinput" name="neck_back" type="text" placeholder={{ userprofile.neck_back }} class="form-control input-md">

																			</div>


																		</div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="pull-right">
                <button type="submit" class="btn btn-primary">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </div>
          </div>

        </fieldset>



																	
								

															</form>
																<!-- <div align="center">
																<button  type="button" class="btn btn-primary" style="margin:5px">     Save   </button>
																</div> -->

    </div>
</div>
</div>
</div>
    {%endblock%}
   
	{%block scripts%}

    			<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
    		

  

     <script>
  	 $(document).ready(function(){
  	 		$('.navbar-toggle-sidebar').click(function () {
  		$('.navbar-nav').toggleClass('slide-in');
  		$('.side-body').toggleClass('body-slide-in');
  		$('#search').removeClass('in').addClass('collapse').slideUp(200);
  	});

  	// $('#search-trigger').click(function () {
  	// 	$('.navbar-nav').removeClass('slide-in');
  	// 	$('.side-body').removeClass('body-slide-in');
  	// 	$('.search-input').focus();
  	// });
  	 });
  	 </script>
  	 {%endblock%}
