{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop | Niks-Creations</title>

    <link href = "{% static 'css/bootstrap.min.css' %}" rel = "stylesheet">
    <link href = "{% static 'css/bootstrap.css' %}" rel = "stylesheet">
    <link href = "{% static 'css/font-awesome.min.css' %}" rel = "stylesheet">
    <link href = "{% static 'css/side-menu.css' %}" rel = "stylesheet">
    <link href = "{% static 'css/main.css' %}" rel = "stylesheet">
    <link href = "{% static 'css/responsive.css' %}" rel = "stylesheet">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

	
	<style>
	h4{
		font-size: 120%;
	}
	</style>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
	<header id="header"><!--header-->
		<div class="header_top" style = "background-color:#000"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="/user/home/" style = "color:#fff"><b> Home</b></a></li>
								<li><a href="/user/about/" style = "color:#fff"><b> About</b></a></li>
								<li><a href="/user/location/" style = "color:#fff"><b> Store Location</b></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nomargin">

								{% if user.is_authenticated %}
    								<li><a href="/user/profile/" style = "color:#fff"><i class="fa fa-lock" style = "color:#fff"></i>My account</a></li>
								{% else %}
    									<li><a href="/user/login/" style = "color:#fff"><i class="fa fa-lock" style = "color:#fff"></i>Login/ Register</a></li>
								{% endif %}
								<li><a href="#" style = "color:#fff"><i class="fa fa-phone" style = "color:#fff"></i> Contact</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
	 <!-- Page Content -->
<div style = "background-color:#F3F781">
<div class="container">
	<div class="row">
	<div class="col-lg-12 text-center">
		<h1 style="color:#000">Niks-Creations.</h1>
		<p class="lead" style="font-family:Helvetica;color:#000">Taste originality and creativity at it's best.</p>
		<ul class="list-unstyled">
		</ul>
	</div>
	</div>
<!-- /.row -->
</div>				 
</div>
		


<div class="row">
	<div class="col-md-2 container-fluid main-container">
		<div class="sidebar">
			<div class="row">
				<!-- uncomment code for absolute positioning tweek see top comment in css -->
				<div class="absolute-wrapper"> </div>
				<!-- Menu -->
				<div class="side-menu">
					<nav class="navbar navbar-default" role="navigation">
						<!-- Main Menu -->
						<div class="side-menu-container">
							<ul class="nav navbar-nav">
								<li ><a href="user-profile.html"><span class="glyphicon glyphicon-user"></span>Profile </a></li>
								<li><a href="user-sizechart.html"><span class="glyphicon glyphicon-stats"></span> Size Chart</a></li>
								<li><a href="user-address.html"><span class="glyphicon glyphicon-plane"></span> Shipping Address</a></li>
								<li ><a href="user-creditcard.html"><span class="glyphicon glyphicon-credit-card"></span> Cards</a></li>
								<li class="active"><a href="user-wishlist.html"><span class="glyphicon glyphicon-heart"></span> WishList</a></li>
								<li><a href="user-pastorders.html"><span class="glyphicon glyphicon-signal"></span>Past Orders</a></li>

							</ul>
						</div><!-- /.navbar-collapse -->
					</nav>

				</div>
			</div>  		</div>
		</div>

<div class="col-md-10">

   <section id="cart_items">
   
		<div class="col-md-12 container">
		
			<div class="cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td></td>
						</tr>
					</thead>
					
						
						<tbody>
						{% for p in products %}
						<tr>
							<td class = "cart_product">
								<a href = ""><img src="{{ STATIC_URL }}images/home/{{ p.name }}" alt=""></a>/
							</td>
							<td class="cart_description">
								<h4><a href="">{{ p.name }}</a></h4>
								<p>Web ID: {{ p.productID }}</p>
							</td>
							<td class="cart_price">
								<p>{{ p.price }}</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href=""> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
									<a class="cart_quantity_down" href=""> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">{{ p.price }}</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>
						 {% endfor %}
						</tbody>	
						
				
				</table>

			</div>

			<!-- <div class="container" align="center" margin:10px>
				<a class="btn btn-default check_out" href="">Continue</a>
			</div> -->
		</div>
		
	</section> <!--/#cart_items-->
	
    </div>

</div>
      <!-- </div>
      <div class="tab-pane fade" id="profile">
    	<form id="tab2">
        	<label>New Password</label>
        	<input type="password" class="input-xlarge">
        	<div>
        	    <button class="btn btn-primary">Update</button>
        	</div>
    	</form>
    </div>
  </div>
</div>
	 -->
	 <footer id="footer"><!--Footer-->
		
		<div class="footer-widget">
			<div class="container">
				<div class = "row">
					<div class = "col-sm-2">
						<div class="single-widget">
							<h2><b>Policies</b></h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Terms of Use</a></li>
								<li><a href="#">Privecy Policy</a></li>
								<li><a href="#">Refund Policy</a></li>
								<li><a href="#">Billing System</a></li>
								<li><a href="#">Ticket System</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
						<h3>Subscribe to us</h3>
						{{ state }}
							<form action="/user/subscribe/" class="searchform" method="POST">
							{% csrf_token %}
								<input type="email" name ="subscriber" placeholder="Your email address" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>Get the most recent updates from <br />our site and be updated your self...</p>
							</form>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
						<button onclick="TogetherJS(this); return false;">Start TogetherJS</button>
					</div>
				</div>
			</div>
		</div>
	</footer>

				<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    			<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.scrollUp.min.js"></script>
    			<script type="text/javascript" src="{{ STATIC_URL }}js/price-range.js"></script>
    			<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.prettyPhoto.js"></script>
    			<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
    			<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    			<script src="https://togetherjs.com/togetherjs-min.js"></script>

     <script>
  	 $(document).ready(function(){
  	 		$('.navbar-toggle-sidebar').click(function () {
  		$('.navbar-nav').toggleClass('slide-in');
  		$('.side-body').toggleClass('body-slide-in');
  		$('#search').removeClass('in').addClass('collapse').slideUp(200);
  	});

  	// $('#search-trigger').click(function () {
  	// 	$('.navbar-nav').removeClass('slide-in');
  	// 	$('.side-body').removeClass('body-slide-in');
  	// 	$('.search-input').focus();
  	// });
  	 });
  	 </script>
</body>
</html>